$main-bg-color: #e5ffd1;
$block-bg-color: #95bb79;

$active-bg-color: #95bb79;
$active-border-color: #086400;

$disabled-bg-color: #d3d3d3;
$disabled-border-color: #474747;

$error-bg-color: #ff5959;
$error-border-color: #7c0000;

$slot-numb-height: 50px;
$slot-name-height: 100px;
$slot-params-height: 50px;
$slot-gap: 20px;
$slot-width: 70px;

body {
  background-color: $main-bg-color;
}
header {
  display: flex;

  height: 100px;
  flex-direction: row;
  justify-content: space-between;
}

header .header-block {
  display: flex;
  justify-content: center;
  align-items: center;

  height: 100%;
  width: 20%;

  background-color: $block-bg-color;
}

main {
  margin-top: 50px;
}

.error-block {
  background-color: $error-bg-color;
  border: 2px solid $error-border-color;
}
.active-block {
  background-color: $active-bg-color;
  border: 2px solid $active-border-color;
}

.disabled-block {
  background-color: $disabled-bg-color;
  border: 2px solid $disabled-border-color;
}

#board-block {
  display: flex;
  flex-direction: row;
  justify-content: space-between;

  height: 70px;
  border-bottom: none;
}
.board-child {
  display: flex;
  justify-content: center;
  align-items: center;

  width: 20%;
  height: 70px;
}

#main-slots-block {
  display: flex;
  flex-direction: row;
  justify-content: space-between;

  height: calc(
    (#{$slot-name-height} + #{$slot-params-height} + #{$slot-gap}) * 2
  );

  padding: 10px;
  border-top: none;
}

.slot-block {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
}
.one-slot {
  width: $slot-width;
}
.double-slot {
  width: calc(#{$slot-width} * 2.5);
  height: calc(
    (#{$slot-name-height} + #{$slot-params-height} + #{$slot-gap}) * 2
  );
}

.slot-numb {
  display: flex;
  justify-content: center;
  align-items: center;

  height: $slot-numb-height;
  width: 100%;
  background-color: rgb(79, 96, 255);
}

.slot-name {
  height: $slot-name-height;
}
.slot-name-h {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: $slot-name-height;
}

.slot-params {
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;

  height: $slot-params-height;
}

.params-btn {
  border-radius: 5px;
  border: none;
  display: flex;
  justify-content: center;
  align-items: center;
  cursor: pointer;

  transition: 0.2s;
}
.params-btn img {
  height: 30px;
}
.params-btn:hover {
  background-color: rgb(223, 223, 223);
}
